h2 {
  margin-bottom: 40px;
}
.form-data {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.formFields {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.formFields input,
textarea {
  padding: 15px 87px 15px 25px;
  background: #f8fafc;
  border-radius: 30px;
}
.addMoreButton {
  border-radius: 30px;
  width: fit-content;
  background: #f33;
  display: flex;
  padding: 10px 25px;
  color: white;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.media-guide {
  display: flex;
  max-width: 571px;
  padding: 27px 25px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  border: 1px dashed  #e9e9e9;
  background:  #f8fafc;
}
.uploadMediaForm {
    margin-top: 20px;
}

.dropzone {
    width: 100%;
    padding: 20px;
    border: 2px dashed #ccc;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    background: #f8fafc;
}

.mediaPreview {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
}

.mediaContainer {
    position: relative;
    width: calc(33.333% - 10px);
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
}

.mediaFile {
    width: 100%;
    height: auto;
}

.removeMediaButton {
    position: absolute;
    top: 10px;
    right: 10px;
    background: red;
    color: white;
    border: none;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 16px;
}





.imageCropContainer {
  position: relative;
  width: 100%;
  height: 400px; /* Adjust as needed */
  overflow: hidden; /* Ensure content does not overflow */
}

.croppedImageContainer {
  margin-top: 20px;
}

.croppedImage {
  max-width: 100%;
  height: auto;
}