.play-icon {
  border-radius: 50px;
  background: linear-gradient(180deg,
      rgba(255, 255, 255, 0.1) 0%,
      rgba(229, 229, 229, 0.5) 100%);
  backdrop-filter: blur(17px);
}

.subpopup {
  border: 3px solid red;
  position: absolute;
  background-color: #fff;
  border: 1px solid #ccc;
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;

  margin-right: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;

}

.popup-content {
  display: flex;
  flex-direction: column;
}

.popup-item {
  display: flex;
  align-items: center;
  padding: 8px;
  cursor: pointer;
}

.popup-item {
  background-color: #f0f0f0;
}

.popup-icon {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

/* @media(min-width:1200px){
  .videos-wrapper{
    grid-template-columns: repeat(4, 313px);
  }
} */