/* .player-box-home> :nth-child(even) {
  background-color: #EAF0F6;
}

.player-box-home> :nth-child(odd) {
  background-color: white;
} */

@media screen and (min-width: 768px) {
  .player-box-home {
    width: calc(100% + 40px);
    margin-left: -20px;
  }
}